<div class="bl_bnr">
  <a href="http://www.seeds-tama.com/abo/index.html" target="_blank"><img src="{{ path }}assets/images/abo.jpg" alt="赤ちゃんや幼児がいる家庭の防災啓発プロジェクト ABo"></a>
  <a href="https://olive-tama.com/" target="_blank"><img src="{{ path }}assets/images/olive.jpg" alt="パルテノン多摩4F こどもひろば OLIVE"></a>
  <a href="https://tamakko.jp/" target="_blank"><img src="{{ path }}assets/images/tamakko.png" alt="子ども家庭支援センター たまっこ"></a>
</div>