<div class="bl_sns">
  <a href="https://www.facebook.com/seedsnetwork" target="_blank"><img src="{{path}}assets/images/facebook.svg" alt="facebook"></a>
  <a href="https://seeds-network.blogspot.com/" target="_blank"><img src="{{path}}assets/images/blogger.svg" alt="blogger"></a>
  <a href="https://twitter.com/ABo_Seeds" target="_blank"><img src="{{path}}assets/images/twitter.svg" alt="twitter"></a>
</div>