---
title: "お問い合わせ"
eleventyComputed:
  path: "../"
  className: 'contact'
---
<div class="ly_content">
  <div class="ly_content_inner">
    <div class="center">
      <h1>お問い合わせ</h1>
    </div>
    <p>NPO法人シーズネットワーク</p>
    <p class="lh1_5">〒206-0033<br>
     東京都多摩市落合1-46-1 ココリア多摩センター4階409号室</p>
    <p>TEL&amp;FAX　042-338-7487</p>
    <div class="center mtb60">
      <a href="http://www.seeds-tama.com/postmail/" target="_blank" class="el_btn">お問い合わせフォーム</a>
    </div>

    {% include 'bnrs.njk' %}

  </div>
  <!-- /.ly_content_inner -->
</div>
<!-- /.ly_content -->