@use "../global" as g;

.home {
  .ly_content {
    padding-top: 0;
  }

  .ttl_news {
    font-size: 1.5rem;
    color: #333;
  }

  .ttl1 {
    width: 400px;
  }

  .bl_works {
    position: relative;
    width: 100%;
    text-align: center;

    &_item {
      width: 100%;
      max-width: 414px;

      &_1 {
      }
      &_2 {
        margin-top: -30px;
      }
      &_3 {
        margin: clamp(1.25rem, 0.054rem + 5.102vw, 2.5rem) auto
          clamp(2.5rem, 0.108rem + 10.204vw, 5rem); // 20-40, auto, 40-80
      }
      &_4 {
      }
      &_5 {
        margin-top: -40px;
      }
    }

    @include g.mq() {
      height: 820px;

      &_item {
        position: absolute;

        &_1 {
          top: 0;
          left: 0;
          width: 308px;
        }
        &_2 {
          top: 100px;
          right: 0;
          width: 281px;
        }
        &_3 {
          top: 250px;
          left: calc(154 / 800 * 100%);
          width: 345px;
        }
        &_4 {
          top: 580px;
          left: 112px;
          width: 230px;
        }
        &_5 {
          top: 525px;
          left: 456px;
          width: 282px;
        }
      }
    } // mq
  }
}
