@use "global" as g;

.home .bl_footer_top {
  transition: opacity .6s;
  opacity: 0;
  pointer-events: none;
  
  &.active {
    opacity: 1;
    pointer-events: all;
  }
}
.ly_footer {
  width: 100%;
  position: fixed;
  bottom: 0;

  &_inner {
    height: 130px;

    @include g.mq() {
      height: 150px;
    }

    .bl_footer {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-rows: auto 2em;

      &_top {
        background-image: url(../images/footer.png);
        background-repeat: repeat-x;
        background-position: top;
        position: relative;

        img {
          display: block;
          position: absolute;
          right: 15px;
          bottom: 5px;
          width: 110px;
        }

        @include g.mq() {
          img {
            width: 160px;
            bottom: 15px;
          }
        }
      }

      &_bottom {
        background-color: #fff;
        display: grid;
        align-items: center;
        padding: 0 15px;

        .leftNav,
        .rightNav {
          display: none;

          a {
            @include g.link-effect(g.$baseColor);
          }
        }

        @include g.mq(lg) {
          grid-template-columns: 20% 60% 20%;

          .leftNav {
            display: block;

            ul {
              margin: 0;
              padding: 0;
              display: flex;
              gap: 20px;

              li {
                list-style-type: none;
                margin: 0;
                font-size: 0.875rem;
              }
            }
          }

          .rightNav {
            display: block;
          }
        }

        .copyright {
          text-align: center;
          font-size: 0.625rem;
          line-height: 1;

          @include g.mq() {
            font-size: 0.75rem;
          }
        }
      }
    }
  }
}
