.el_imgRight {
  float: right;
  margin: 0 0 20px 40px;
}

.hp_mt0 {
  margin-top: 0 !important;
}
.hp_mt10 {
  margin-top: 10px !important;
}
.hp_mt30 {
  margin-top: 30px !important;
}
.hp_mt60 {
  margin-top: 60px !important;
}
.hp_textRight {
  text-align: right !important;
}

.un_m70 {
  margin-top: 70px;
}