.el_imgRight {
  float: right;
  margin: 0 0 20px 40px;
}

.mt0 {
  margin-top: 0 !important;
}
.mt10 {
  margin-top: 10px !important;
}
.mt30 {
  margin-top: 30px !important;
}
.mt60 {
  margin-top: 60px !important;
}
.textRight {
  text-align: right !important;
}

.mt70 {
  margin-top: 70px;
}

.colorBlack {
  color: #333 !important;
}