---
title: "主な事業・活動の実績"
eleventyComputed:
path: "../"
className: 'works'
---
<div class="ly_content">
  <div class="ly_content_inner">
    <div class="center">
      <h1>主な事業・活動の実績</h1>
    </div>
    <section>
      <h2>受託事業</h2>
      <ul>
        <li>パルテノン多摩こどもひろばOLIVE（多摩市／2022年～）</li>
        <li>
          多摩市子ども家庭支援センターたまっこ 子育てひろば等<br>
          （多摩市／2014年～／NPO法人多摩子ども劇場との共同事業）
        </li>
        <li>永山公民館主催事業に伴う一時保育（多摩市／2011年～）</li>
        <li>
          多摩市＆長野県富士見町共同アンテナショップPonte<br>
          （多摩市・長野県富士見町／2010年～2021年 ： 終了）
        </li>
        <li>
          多摩市の農産物応援サイトagri agri<br>
          （多摩市／2013年～2021年 ： 終了）
        </li>
      </ul>
    </section>
    <section>
      <h2>自主事業</h2>
      <h3>＜赤ちゃんや幼児がいる家庭の<br class="spOnly" />防災啓発プロジェクトABo＞</h3>
      <ul>
        <li>親子で防災プログラム「あそんで防災」（ココリア多摩センター）</li>
        <li>
          防災はじめのいっぽ<br>
          （多摩市内児童館、近隣の保育園・子育て支援施設等）
        </li>
        <li>
          オンラインおしゃべり会～おうちで防災トーク～<br>
          「災害時に役立つ！ポリ袋＆湯煎で調理」「災害時のトイレどうする？」ほか
        </li>
        <li>ゲームで楽しく防災体験（ガーデンシティ多摩センターこどもまつり）</li>
        <li>定例会（月1回程度）</li>
      </ul>
    </section>

    <section>
      <h3>＜シーズサロン＞</h3>
      <ul>
        <li>ちょっと未来のなりたい自分に出逢うアートワーク</li>
        <li>大人のための絵本タイム</li>
        <li>おもちゃコンサルタントマスターによるおもちゃトーク</li>
        <li>かわいいクリスマスリースを作ろう！</li>
      </ul>
    </section>

    <section>
      <h3>＜Beansプロジェクト＞</h3>
      <ul>
        <li>
          永山公民館市民企画講座<br>
          「エンジョイ！働き続けるライフビジョン」
        </li>
        <li>
          TAMA女性センター登録団体企画講座<br>
          「女性の心が穏やかになるセルフケア講座」
        </li>
        <li>定例会（年数回）</li>
      </ul>
      <img src="{{path}}assets/images/parts.png" alt="こんなのもやってました！多摩センター子育てファミリーステーションcoucou（2003年～2011年）。Seedsひろば（2002年～2014年）" class="img1">
    </section>

    {% include 'bnrs.njk' %}

  </div>
  <!-- /.ly_content_inner -->
</div>
<!-- /.ly_content -->
