---
title: "お知らせ"
eleventyComputed:
  path: "../"
  className: 'news'
---
<div class="ly_content">
  <div class="ly_content_inner">
    <div class="center">
      <p class="el_h1">お知らせ</p>
    </div>
    <div class="bl_centerBtn spOnly"><a href="../" class="el_btn">戻る</a></div>
    <section>
      <h1>お知らせタイトルがここに入ります。</h1>
      <p>本文がここに入ります。本文がここに入ります。本文がここに入ります。本文がここに入ります。本文がここに入ります。本文がここに入ります。本文がここに入ります。本文がここに入ります。</p>

      <h2>お知らせタイトルがここに入ります。</h2>
      <p>本文がここに入ります。本文がここに入ります。本文がここに入ります。本文がここに入ります。本文がここに入ります。本文がここに入ります。本文がここに入ります。本文がここに入ります。</p>
      
      <ul>
        <li>リストがここに入ります。リストがここに入ります。リストがここに入ります。リストがここに入ります。</li>
        <li>リストがここに入ります。リストがここに入ります。リストがここに入ります。リストがここに入ります。</li>
        <li>リストがここに入ります。リストがここに入ります。リストがここに入ります。リストがここに入ります。</li>
      </ul>

      <img src="{{path}}assets/images/seeds_letter.jpg" alt="">

      <h2>お知らせタイトルがここに入ります。</h2>
      <p>本文がここに入ります。本文がここに入ります。本文がここに入ります。本文がここに入ります。本文がここに入ります。本文がここに入ります。本文がここに入ります。本文がここに入ります。</p>

    </section>
    <div class="bl_centerBtn mb50-90"><a href="../" class="el_btn">戻る</a></div>

    {% include 'bnrs.njk' %}

  </div>
  <!-- /.ly_content_inner -->
</div>
<!-- /.ly_content -->