---
title: "お知らせ"
eleventyComputed:
  path: "../"
  className: 'news'
---
<div class="ly_content">
  <div class="ly_content_inner">
    <p>お知らせ</p>
    <div class="bl_centerBtn"><a href="../" class="el_btn">戻る</a></div>
    <section>
      <h1>お知らせタイトルがここに入ります。</h1>
      <p>本文がここに入ります。本文がここに入ります。本文がここに入ります。本文がここに入ります。本文がここに入ります。本文がここに入ります。本文がここに入ります。本文がここに入ります。</p>
      <p>本文がここに入ります。本文がここに入ります。本文がここに入ります。本文がここに入ります。本文がここに入ります。本文がここに入ります。本文がここに入ります。本文がここに入ります。</p>
      <ul>
        <li>リストがここに入ります。リストがここに入ります。リストがここに入ります。リストがここに入ります。</li>
        <li>リストがここに入ります。リストがここに入ります。リストがここに入ります。リストがここに入ります。</li>
        <li>リストがここに入ります。リストがここに入ります。リストがここに入ります。リストがここに入ります。</li>
      </ul>
    </section>
    <div class="bl_centerBtn"><a href="../" class="el_btn">戻る</a></div>
  </div>
</div>
<!-- /.ly_content -->