@use "../global" as g;

h1,
.el_h1 {
  font-family: Noto Serif JP;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  margin: 50px auto 40px;
  display: inline-block;
  background-image: url("../../assets/images/tanpopo3.png") !important;
  background-size: contain !important;
  background: no-repeat;
  height: 70px;
  display: inline-grid;
  align-items: center;
  padding: 0 0 0 40px;
  transform: translateX(-20px);

  @include g.mq() {
    font-size: 32px;
    margin: 1em auto 80px;
  }
}

h2,
.el_h2 {
  @include g.h2();
}

h3 {
  font-family: Noto Serif JP;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  text-align: center;
  margin-bottom: 20px;

  @include g.mq() {
    font-size: 18px;
    margin-bottom: 30px;
  }
}
