@use "../global" as g;

.bl_mv {
  height: 105vh;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  background-image: url("../images/mainvisual_sp.png");
  z-index: 1;
  position: relative;

  @include g.mq() {
    height: 70vh;
    background-image: url("../images/mainvisual_pc.png");
  }

  h1 {
    margin: auto;
    padding-top: 100px;
    display: block;

    img {
      height: 70vh;

      @include g.mq() {
        height: 40vh;
      }
    }
  }
}
