---
layout: layout.njk
title: TOP PAGE
eleventyComputed:
  path: './'
  className: 'home'
---
<div class="ly_content">
  <div class="ly_page">
    <div class="ly_page_inner">
      <div class="bl_page">
        <img src="{{path}}/assets/images/dammy.png" alt="">
      </div>
    </div>
  </div>
</div>