---
title: "プライバシーポリシー"
eleventyComputed:
  path: "../"
  className: 'privacy-policy'
---
<div class="ly_content">
  <div class="ly_content_inner">
    <div class="center">
      <h1>プライバシーポリシー</h1>
    </div>
    <section class="body">
      <h2>個人情報の取り扱いについて<br>（プライバシーポリシー）</h2>
      <h3>1.法令等の遵守</h3>
      <p>特定非営利活動法人シーズネットワーク（以下、当法人）は、個人情報を取り扱うにあたり、個人情報の保護に関する法令、ガイドラインを遵守いたします。</p>
      <h3>2.個人情報の収集</h3>
      <p>当法人は、公正な事業活動に必要な範囲に限定して、適正に個人情報を取得し利用します。</p>
      <h3>3.個人情報の管理・保護</h3>
      <p>当法人では、個人情報への不正アクセス、紛失、破損、改ざんおよび漏洩等を防止するため、安全な環境下にて厳重に管理いたします。</p>
      <h3>4.個人情報の利用</h3>
      <p>個人情報をご提供いただく場合は、その利用目的を明確にし、お知らせします。</p>
      <h3>5.個人情報の提供</h3>
      <p>当法人は、個人情報を本人の同意なしに、第三者に開示･提供することはいたしません。ただし、法令により開示を求められた場合、裁判所、警察等の公的機関から開示を求められた場合、または本人および公衆の生命・健康・財産などの重要な利益を保護するために必要な場合には、本人の同意なしに個人情報を開示･提供することがあります。</p>
      <h3>6.個人情報の照会・修正・削除</h3>
      <p>本人の個人情報について、開示・訂正・削除等の要請を受けた場合は、要請が本人自らのものであることを確認後、合理的な期間内に対応を行います。</p>
      <h3>7.プライバシーポリシーの改定</h3>
      <p>当法人は、利用者の事前承諾なく、本プライバシーポリシーを変更または追加することができるものとします。変更または追加した内容は、当法人ホームページなどに掲載した時点以降、効力を生じるものとします。</p>
      <p class="sign">2019年7月<br>
        特定非営利活動法人シーズネットワーク<br>
        理事長　岡本光子</p>
    </section>

    {% include 'bnrs.njk' %}

  </div>
  <!-- /.ly_content_inner -->
</div>
<!-- /.ly_content -->