---
title: "主な事業・活動の実績"
eleventyComputed:
path: "../"
className: 'recruit'
---
<div class="ly_content">
  <div class="ly_content_inner">
    <h1>アクティブメンバー募集</h1>
    <p>私たちと一緒に活動しませんか？　さまざまな「はじめの一歩」や「次のステップへ！」を応援します。ご自身のワークライフバランスに合わせて、さまざまな関わり方をしていただくことができます。</p>
    <section>
      <h2>活動内容</h2>
      <ul class="bl_no">
        <li>主催事業・活動のメンバー、受託事業のスタッフ、近隣企業や団体からの単発・不定期の人材募集情報などをメールで随時発信します（斡旋や派遣ではありません）。</li>
        <li>講座やワークショップ、イベント等の実施、作品の展示販売、その他もろもろ、あなたが実現したい企画の「種（Seeds）」があればご相談ください。企画立案、会場手配、広報、申込受付、当日運営etc.　シーズネットワークのノウハウを活用して協力します。</li>
        <li>広報紙「Seeds Letter」（年4回発行）やメンバーへのお知らせ配信等で、あなたの事業・活動のPRや、仲間募集等ができます。</li>
        <li>「Seeds Letter」を毎号、ご自宅へ郵送します。</li>
      </ul>
      <ul class="bl_note">
        <li>2.3については、政治・宗教色が濃い、あるいは営利性が強い等の場合、ご期待に添えないことがあります。</li>
      </ul>
    </section>
    <section>
      <h2>登録手続き</h2>
      <ol>
        <li>まず、メールか電話でご連絡ください。</li>
        <li>事業・活動内容のご説明を行い、活動へのご希望等をお伺いします。</li>
        <li>メンバー登録申込用紙に必要事項（氏名、住所、資格や興味のあること等）を記入していただき、登録料1,000円（初回登録時のみ）と活動支援金2,000円をご入金いただきます。</li>
      </ol>

      <ul class="bl_note">
        <li>※メンバー登録は4月～翌3月を年度とします。更新される場合は、毎年4月末までに、活動支援金1口1,000円、2口以上の入金をお願いいたします。</li>
      </ul>
    </section>
  </div>
</div>
<!-- /.ly_content -->